
{% extends "base.html" %}
{% load static %}
{% block contenido1 %}
  <!-- Contenido Login -->
  <div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-4" style="border:solid 2px rgb(1, 0, 0);padding-top: 15px;">
          <form action="{% url 'LOGIN' %}" method="post">
          {% csrf_token %}  
            <table>
              <tr>
                <td colspan="2">
                  <h3 class="breadcrumb-header">Login Acceso</h3>
                </td>
              </tr>
              <tr>
                <td style="padding: 15px;">
                  <label for="">Usuario</label>
                </td>
                <td style="padding: 15px;">
                  <input type="text" name="txtUsuario" id="txtUsuario" />
                </td>
              </tr>
              <tr>
                <td style="padding: 15px;">
                  <label for="">Correo</label>
                </td>
                <td style="padding: 15px;">
                  <input type="email" name="txtCorreo" id="txtCorreo" />
                </td>
              </tr>
              <tr>
                <td style="padding: 15px;">
                  <input type="submit" value="Validar" />
                </td>
                <td>
                  <a href="#">¿Registrece Aqui?</a>
                   
                </td>
                <td>{{mensaje}}</td>  
              </tr>
            </table>
          </form>
        </div>
      </div>
      <!-- /row -->
    </div>
   
    <!-- /container -->
  </div>
  <!-- /Contenido Login -->
{% endblock %}
